.all{
    border:1px solid transparent;
    padding:4px;
    margin: 7px;


}
.Deal{
    border:1px solid transparent;
    padding:4px;
    margin: 7px;

}
.buy{
    border:1px solid transparent;
    padding:4px;
    margin: 7px;
}
.service{
    border:1px solid transparent;
    padding:4px;
    margin: 7px;
}
.outlet{
    border:1px solid transparent;
    padding:4px;
    margin: 7px;
}
.deals{
    border:1px solid transparent; 
    padding:4px;
    margin: 7px;
}
.warehouse{
    border:1px solid transparent;
    padding:4px;
    margin: 7px;
}
